@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/degrade-fundo-projeto.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width:300px;
    min-height: 400px;
    background-color: #00000020;
    backdrop-filter: blur(4px);
    border: 2px solid #00000040;
    border-radius: 16px;
    padding: 66px 16px 16px 16px;
}
.perfil{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    border: 2px solid #00000040;
    overflow: hidden;
    perspective: 1000px;
}
.foto,
.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .5s ease;

    img{
        width: 100%;
        display: block;
    }
}
.foto{
    z-index: 2;
    transform: rotateY(0deg);
}
.logo{
    transform: rotateY(180deg);
}
.perfil:hover .foto{
    transform: rotateY(180deg);
}
.perfil:hover .logo{
    transform: rotateY(360deg);
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}
li{
    list-style-type: none;
}
a{
    width: 100%;
    height: 32px;
    border: 1px solid #00000040;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa20;
    color: #101010;
    text-decoration: none;
    transition: .3s;
    i{
        margin-right: 8px;
    }
}
a:hover{
    background-color: #fafafa80;
    font-size: 18px;
}